@using UniversityApplication.CQRSModuels.Courses.Commands.Create;
@model CreateCourseCommand

@{
    ViewData["Title"] = "Create New";
}

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createCourseModal">
    @ViewData["Title"]
</button>

<div class="modal fade" id="createCourseModal" tabindex="-1" aria-labelledby="createCourselLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Create">
                <div class="modal-header">
                    <h5 class="modal-title" id="createCourseLabel">Create new course</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <label asp-for="Name" class="control-label">Name</label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                        <div class="validation-summary">
                            <ul></ul>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Description" class="control-label">Description</label>
                        <input asp-for="Description" class="form-control">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" value="Create" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} 