@{
    ViewData["Title"] = "Welcome to University";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-8">
            <h1 class="display-4">Welcome to Our University</h1>
            <p class="lead">Empowering Minds, Transforming Lives</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <h2>Discover Our Programs</h2>
            <p>Explore a diverse range of academic disciplines and programs designed to shape your future.</p>
            <p>Sing in to more.</p>
        </div>
    </div>
</div>
